<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>







<!--    услуги не сохраняются при создании заказа-->




    <script src="https://code.jquery.com/jquery-3.0.0.js" ></script>




    <meta charset="utf-8">


    <title>Website Title</title>


    <link rel="stylesheet" href="../intl-tel-input-17.0.0/build/css/intlTelInput.css">


</head>
<body>

<script src="https://code.jquery.com/jquery-3.0.0.js" ></script>




<input id="phone" type="tel">-->



<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.7.55/libphonenumber-js.min.js"></script>
<script type="text/javascript">
     $("#phone").keyup(function () {
            var val_old = $(this).val();
            var newString = new libphonenumber.AsYouType('RU').input(val_old);
            $(this).focus().val('').val(newString);
            if (newStrin
    });
</script>


</body>

<input id="phone" type="tel">-->



<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.7.55/libphonenumber-js.min.js"></script>
<script type="text/javascript">
     $("#phone").keyup(function () {
            var val_old = $(this).val();
            var newString = new libphonenumber.AsYouType('RU').input(val_old);
            $(this).focus().val('').val(newString);
    });
</script>



<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--<script src="../js/jquery.datetimepicker.full.js"></script>-->

</html>







